@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
  --bg-color: #F1EEEB;
  --accent-color: #D9543E;
  --text-color: #1D1D1B;

  --font-serif: 'Playfair Display', serif;
  --font-sans-serif: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans-serif);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: var(--font-serif);
}
