@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
  --bg-color: #F2E8DE;
  --accent-color: #D9543E;
  --text-color: #1D1D1B;
  --overlay-bg-color: rgba(241, 238, 235, 0.6);

  --font-serif: 'Playfair Display', serif;
  --font-sans-serif: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans-serif);
  margin: 0;
  padding: 0;
  font-size: clamp(12px, 1.2vw, 16px);
  line-height: 1.6;
  background-image: linear-gradient(to bottom, var(--bg-color) var(--split-pos, 60vh), #F6F0E9 var(--split-pos, 60vh));
}

#projects-overlay.is-open .card {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--index) * 0.07s);
}

.card {
  transition: all 0.3s ease-in-out;
}
