@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
  --bg-color: #F2E8DE;
  --accent-color: #D9543E;
  --text-color: #1D1D1B;
  --overlay-bg-color: rgba(241, 238, 235, 0.6);

  --font-serif: 'Playfair Display', serif;
  --font-sans-serif: 'Inter', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans-serif);
  margin: 0;
  padding: 0;
  font-size: clamp(12px, 1.2vw, 16px);
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  transition: background-color 0.3s ease; /* Add transition to background-color */
}

#projects-overlay.is-open .card {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--index) * 0.07s);
}

.card {
  transition: all 0.3s ease-in-out;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.is-visible {
  opacity: 1;
  transform: translateY(0);
}
