---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
---
<BaseLayout title="Kevin Mosqueda | Home">
  <main>
    <Hero />
    <About />
    <Skills />
  </main>
</BaseLayout>