---
import BaseLayout from '../layouts/BaseLayout.astro';
import Services from '../components/Services.astro';
---
<BaseLayout title="Kevin Mosqueda | Services">
  <head>
    <style is:global>
      html, body {
        background-color: var(--bg-color) !important;
      }
    </style>
  </head>
  <main>
    <div class="container">
      <Services />
    </div>
  </main>
</BaseLayout>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
  }
</style>
