---
import About from './About.astro';
import Skills from './Skills.astro';
---

<div class="info-container">
  <About />
  <div class="skills-container">
    <Skills />
  </div>
</div>

<style>
  .info-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .info-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    .info-container {
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }
    .skills-container {
      grid-template-rows: auto 1fr;
    }
  }
</style>